/* except where stated, all info come from W3 school or Odin Project */

* {
  box-sizing: border-box;
} 

main {
  position: relative;
  min-height: 100vh; 
  /* https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c */
  margin: 0;
  padding: 0;
}

section {
  padding-bottom: 30px; /* Footer height */
  /* https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c */
}

body {
  background-color: rgba(236, 241, 241, 0);
  font-family: Arial;
}

 nav ul {
  overflow: hidden;
  list-style-type: none;
  /* https://wearefieldtrip.com/journal/css-horizontal-navigation-bar/ */
  margin: 0;
  padding: 0;  
}

nav ul li {
  float: right;
  margin: 0;
 
}

nav ul li a {
  text-decoration: none;
  padding: 10px 10px;
  color: rgb(14, 37, 53);
}

nav ul li a:hover{
  text-decoration: underline;
}

.GoogleImage {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.SearchBox {
    text-align: center;
    height: 30px;
    margin-bottom: 50px;
  }

.SearchBox form input{
    width: 500px;
    height: 40px;
    margin: 0;
    border-radius: 20px;
    border: 1px solid grey;
  }

.SmallBoxes {
    text-align: center;
    margin-bottom: 50px;
  }

.SmallBoxes a {
  -moz-appearance: button;
  background-color: rgb(240, 235, 235);
  padding: 20px;
  text-decoration: none;
  color: rgb(14, 37, 53);
}
  
.SmallBoxes a:hover {
  border: 1px solid grey;
}


article {
    text-align: center;
  }

article a {
  text-decoration: none;
  padding-right: 5px;
}

article a:hover {
  text-decoration: underline;
}

  footer {
    background-color: rgba(93, 105, 109, 0.178);
    margin:0;
    padding: 0;
    /* from medium freecodecamp.org */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
     /* https://medium.freecodecamp.org/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c */
    }

  .Country {
    margin: 0;
    text-align: left; 
    border: 1px solid grey;
    padding: 5px;
    color: rgb(124, 129, 133);
  }

  #GoogleSuff01 {
    overflow: hidden;
    list-style-type: none;
    /* https://wearefieldtrip.com/journal/css-horizontal-navigation-bar/ */
    margin: 0;
    padding: 0;   
    border: 1px solid grey;
  }

  #GoogleSuff01 .left {
    float:left; 
    padding: 5px;
  }

  #GoogleSuff01 .right {
    float: right;
    padding: 5px;
  }
  
  #GoogleSuff01 .left a {
    text-decoration: none;
    color: rgb(124, 129, 133);
    font-size: smaller;
  }

  #GoogleSuff01 .right a {
    text-decoration: none;
    color: rgb(124, 129, 133);
    font-size: smaller;
  }

  #GoogleStuff01 .left a:hover {
    text-decoration: underline;
  }

  #GoogleSuff01 .right a:hover {
    text-decoration: underline;
  } 

